<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Student Organization Website</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- For social media icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- jQuery Version 1.11.1 -->
  <script src="../js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../js/bootstrap.min.js"></script>

  <!-- Custom CSS -->
  <style>
    body {
      padding-top: 30px;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      </head>

      <body>

        <!-- For loading navigation bar and login/signup -->
        <script type="text/javascript">

          $(document).ready(function () {
            $("#navbar").load("navbar.html");
          });

          $(document).ready(function () {
            $("#logIn").load("logIn.html");
          });

        </script>
        <div id="navbar">
        </div>
        <div id="logIn">
        </div>

        <!-- JS for user page -->
        <script type="text/javascript">
          /* pagination */
          $.fn.pageMe = function(opts){
            var $this = this,
            defaults = {
              perPage: 7,
              showPrevNext: false,
              numbersPerPage: 1,
              hidePageNumbers: false
            },
            settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage; 
            var children = listElement.children();
            var pager = $('.pagination');

            if (typeof settings.childSelector!="undefined") {
              children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector!="undefined") {
              pager = $(settings.pagerSelector);
            }

            var numItems = children.size();
            var numPages = Math.ceil(numItems/perPage);

            pager.data("curr",0);

            if (settings.showPrevNext){
              $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
            }

            var curr = 0;
            while(numPages > curr && (settings.hidePageNumbers==false)){
              $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
              curr++;
            }

            if (settings.numbersPerPage>1) {
             $('.page_link').hide();
             $('.page_link').slice(pager.data("curr"), settings.numbersPerPage).show();
           }

           if (settings.showPrevNext){
            $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
          }

          pager.find('.page_link:first').addClass('active');
          if (numPages<=1) {
            pager.find('.next_link').hide();
          }
          pager.children().eq(1).addClass("active");

          children.hide();
          children.slice(0, perPage).show();

          pager.find('li .page_link').click(function(){
            var clickedPage = $(this).html().valueOf()-1;
            goTo(clickedPage,perPage);
            return false;
          });
          pager.find('li .prev_link').click(function(){
            previous();
            return false;
          });
          pager.find('li .next_link').click(function(){
            next();
            return false;
          });

          function previous(){
            var goToPage = parseInt(pager.data("curr")) - 1;
            goTo(goToPage);
          }

          function next(){
            goToPage = parseInt(pager.data("curr")) + 1;
            goTo(goToPage);
          }

          function goTo(page){
            var startAt = page * perPage,
            endOn = startAt + perPage;

            children.css('display','none').slice(startAt, endOn).show();

            if (page>=1) {
              pager.find('.prev_link').show();
            }
            else {
              pager.find('.prev_link').hide();
            }

            if (page<(numPages-1)) {
              pager.find('.next_link').show();
            }
            else {
              pager.find('.next_link').hide();
            }

            pager.data("curr",page);

            if (settings.numbersPerPage>1) {
              $('.page_link').hide();
              $('.page_link').slice(page, settings.numbersPerPage+page).show();
            }

            pager.children().removeClass("active");
            pager.children().eq(page+1).addClass("active");  
          }
        };

        $('#items').pageMe({pagerSelector:'#myPager',childSelector:'tr',showPrevNext:true,hidePageNumbers:false,perPage:5});
        /****/
      </script>

      <!-- User profile / message view -->
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-sm-10"><h1>userName</h1></div>
          <!-- Profile picture -->
          <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.freeiconspng.com/uploads/profile-icon-9.png"></a></div>
          <!-- Button to compose message (only content manager can <- TODO) -->
          <a href="#composeModal" type="button" class="btn btn-warning pull-right btn-sm" data-toggle = "modal">Compose(for content manager)</a>

        </div>
        <div class="row">
          <div class="col-sm-3"><!--left col-->

            <ul class="list-group">
              <li class="list-group-item text-muted">Profile</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 4.3.2017</li>
              <!-- <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li> -->
              <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> Dongbin Min</li>

            </ul> 

            <div class="panel panel-default">
              <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
              <div class="panel-body"><a href="http://facebook.com/ellis.min">http://facebook.com/ellis.min</a></div>
            </div>


            <ul class="list-group">
              <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Visited</strong></span> 13</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Inbox</strong></span> 5</li>
              <a href="index.html">
              <li class="list-group-item text-right" href="index.html"><span class="pull-left"><strong>Amount to pay</strong></span></a> $40</li>

            </ul> 

            <div class="panel panel-default">
              <div class="panel-heading">Social Media</div>
              <div class="panel-body">
                <!-- Social media icons -->
                <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
              </div>
            </div>

          </div><!--/col-3-->
          <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#messages" data-toggle="tab">Messages</a></li>
              <li><a href="#settings" data-toggle="tab">Account Settings</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="messages">

               <h2></h2>
               
               <ul class="list-group">
                <li class="list-group-item text-muted">Inbox</li>
                <li class="list-group-item text-right"><a href="#" class="pull-left">Message 1</a> 2.15.2017</li>
                <li class="list-group-item text-right"><a href="#" class="pull-left">Message 2</a> 2.15.2017</li>
                <li class="list-group-item text-right"><a href="#" class="pull-left">Message 3</a> 2.15.2017</li>
                <li class="list-group-item text-right"><a href="#" class="pull-left">Message 4</a> 2.15.2017</li>
                <li class="list-group-item text-right"><a href="#" class="pull-left">Message 5.. blablabla</a> 2.15.2017</li>


              </ul> 

            </div><!--/tab-pane-->
            <div class="tab-pane" id="settings">


              <hr>
              <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">

                  <div class="col-xs-6">
                    <label for="first_name"><h4>First name</h4></label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" title="enter your first name if any.">
                  </div>
                </div>
                <div class="form-group">

                  <div class="col-xs-6">
                    <label for="last_name"><h4>Last name</h4></label>
                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" title="enter your last name if any.">
                  </div>
                </div>

                <div class="form-group">

                  <div class="col-xs-6">
                    <label for="phone"><h4>Phone</h4></label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone" title="enter your phone number if any.">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-6">
                   <label for="mobile"><h4>Mobile</h4></label>
                   <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Enter mobile number" title="enter your mobile number if any.">
                 </div>
               </div>
               <div class="form-group">

                <div class="col-xs-6">
                  <label for="email"><h4>Email</h4></label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email"><h4>Location</h4></label>
                  <input type="email" class="form-control" id="location" placeholder="Madison" title="enter a location">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password"><h4>Password</h4></label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" title="enter your password.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password2"><h4>Verify Password</h4></label>
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="Password" title="enter your password2.">
                </div>
              </div>
              <div class="form-group">
               <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
              </div>
            </div>
          </form>
        </div>

      </div><!--/tab-pane-->
    </div><!--/tab-content-->

  </div><!--/col-9-->
</div><!--/row-->
<!-- User profile / message view -->

<!-- /.modal compose message -->
    <div class="modal fade" id="composeModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Compose Message</h4>
          </div>
          <div class="modal-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2" for="inputTo">To</label>
                  <div class="col-sm-10"><input class="form-control" id="inputTo" placeholder="comma separated list of recipients" type="email"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2" for="inputSubject">Subject</label>
                  <div class="col-sm-10"><input class="form-control" id="inputSubject" placeholder="subject" type="text"></div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12" for="inputBody">Message</label>
                  <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="18"></textarea></div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button> 
            <!-- <button type="button" class="btn btn-warning pull-left">Save Draft</button> -->
            <button type="button" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal compose message -->






</body>

</html>
